{% block content %}
<div class="modal-container-original" id="modal_container">
  <div class="modal-original">
    {% block title %}

    {% endblock %}
    
    {% block info %}

    {% endblock %}

    <button id="close">
      Go Back
    </button>
  </div>
</div>
{% endblock %}