{% extends '_layouts/base.njk' %}

{% block page_title %}New index page title{% endblock %}

{% block content %}
<div class="outer-wrapper">
  <div class="wrapper">
    <div class="slide one center-stuff">
      {% include "_partials/slide-one.njk" %}
    </div>
    <div class="slide two center-stuff">
      {% include "_partials/slide-two.njk" %}
      {% include "_partials/_partials-svg/slide-two-svg.njk" %}
    </div>
    
    <div class="slide four center-stuff">{% include "_partials/slide-four.njk" %}</div>
    <div class="slide five center-stuff">{% include "_partials/slide-five.njk" %}</div>
    <div class="slide three center-stuff">
      <h1>The Different Types of Ramen</h1>
      {% include "_partials/japan-svg.njk" %}
    </div>
    <div class="slide final center-stuff">{% include "_partials/slide-final.njk" %}</div>
  </div>
</div>
  

  <script src="js/jquery.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/scripts.js"></script>
{% endblock %}
