{% extends '_layouts/base.njk' %}

{% block page_title %}RAMEN - A Visual Overview{% endblock %}

{% block content %}
<div class="outer-wrapper">
  <div class="wrapper">

    <div class="slide one center-stuff">
      {% include "_partials/slide-01.njk" %}
    </div>

    <div class="slide two center-stuff">
      {% include "_partials/slide-02.njk" %}
      {% include "_partials/_partials-svg/slide-02-svg.njk" %}
      <h1 class="page-num"><span class="main-page-num">1</span> / 12</h1>
    </div>
    
    <div class="slide four center-stuff">
      {% include "_partials/slide-04.njk" %}
      <h1 class="page-num"><span class="main-page-num">2</span> / 12</h1>
    </div>

    <div class="slide five center-stuff">
      {% include "_partials/slide-05.njk" %}
      {% include "_partials/_partials-svg/slide-05-svg.njk" %}
      <h1 class="page-num"><span class="main-page-num">3</span> / 12</h1>
    </div>

    <div class="slide six center-stuff">
      {% include "_partials/slide-06.njk" %}
      <h1 class="page-num"><span class="main-page-num">4</span> / 12</h1>
    </div>

    <div class="slide seven center-stuff">
      {% include "_partials/slide-07.njk" %}
      <h1 class="page-num"><span class="main-page-num">5</span> / 12</h1>
    </div>

    <div class="slide eight center-stuff">
      {% include "_partials/slide-08.njk" %}
      <h1 class="page-num"><span class="main-page-num">6</span> / 12</h1>
    </div>

    <div class="slide nine center-stuff">
      {% include "_partials/slide-09.njk" %}
      <h1 class="page-num"><span class="main-page-num">7</span> / 12</h1>
    </div>

    <div class="slide ten center-stuff">
      {% include "_partials/slide-10.njk" %}
      <h1 class="page-num"><span class="main-page-num">8</span> / 12</h1>
    </div>

    <div class="slide eleven center-stuff">
      {% include "_partials/slide-11.njk" %}
      <h1 class="page-num"><span class="main-page-num">9</span> / 12</h1>
    </div>

    <div class="slide twelve center-stuff">
      {% include "_partials/slide-12.njk" %}
      <h1 class="page-num"><span class="main-page-num">10</span> / 12</h1>
    </div>

    <div class="slide thirteen center-stuff">
      {% include "_partials/slide-13.njk" %}
      <h1 class="page-num"><span class="main-page-num">11</span> / 12</h1>
    </div>

    <div class="slide fourteen center-stuff">
      {% include "_partials/slide-14.njk" %}
      <h1 class="page-num"><span class="main-page-num">12</span> / 12</h1>
    </div>
    
    <div class="slide three center-stuff">
      {% include "_partials/slide-15.njk" %}
    </div>
    <div class="slide final center-stuff">{% include "_partials/slide-final.njk" %}</div>
  </div>
</div>
 


  <script src="js/jquery.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/scripts.js"></script>
{% endblock %}
