<h1 class="align-title">The Different Types of Ramen</h1>

{% include "./_partials-svg/jpn-island-svg-refactored.njk" %}
{% include "./_modals/modal-sapporo.njk" %}
{% include "./_modals/modal-tokyo.njk" %}
{% include "./_modals/modal-kitakata.njk" %}
{% include "./_modals/modal-hakata.njk" %}