<h1 class="align-title">The Different Types of Ramen</h1>

{% include "./_partials-svg/optimized-jpn-island-svg.njk" %}
{% include "./_modals/modal-sapporo.njk" %}
{% include "./_modals/modal-tokyo.njk" %}
{% include "./_modals/modal-kitakata.njk" %}
{% include "./_modals/modal-hakata.njk" %}

{# <div class="modal-container-original" id="modal_container">
  <div class="modal-original">
    <h1>modals are cool</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores non voluptas earum quisquam, iure nobis.
    </p>
    <button id="close">
      Close me
    </button>
  </div>
</div> #}