<div class="flex-container">
  <section id="creator-section">
    <h1>Creator</h1>
    <div id="creator-info">
      <h3>Christopher Mendez</h3>
      <h4>University of Texas at Austin</h4>
      <h4>Advertising</h4>
      <h4>Digital Arts and Media BDP</h4>
    </div>
  </section>

  <section id="falculty-section">
    <h1>Faculty Mentors</h1>
    <div id="falculty-info">
      <section class="professor-box" id="prof-one-box">
        <h3>Christian McDonald</h3>
        <h4>University of Texas at Austin</h4>
        <h4>School of Journalism</h4>
        <h4>College of Communication</h4>
      </section>
  
      <section class="professor-box">
        <h3>Junko Hatanaka</h3>
        <h4>University of Texas at Austin</h4>
        <h4>Department of Asian Studies</h4>
        <h4>College of Liberal Arts</h4>
      </section>
    </div>
  </section>
  <section id="resources-section">
    <h1>Resources</h1>
    <div class="resources-links">
      <h4><a href="https://firstwefeast.com/eat/2014/05/george-solt-on-the-messy-history-of-ramen" target="_blank">First We Feast</a></h4>
      <h4><a href="https://scholarblogs.emory.edu/noodles/2018/07/02/the-history-of-ramen-in-japan-carlos/" target="_blank">ScholarBlogs - Emory Edu</a></h4>
      <h4><a href="https://en.wikipedia.org/wiki/Ramen#Origin" target="_blank">Wikipedia</a></h4>
    </div>
  </section>
</div>
