<h1>Early attempts to establish a history of ramen claim a scholar named Shu Shunsui brought the recipe with him when he escaped Manchu rule in China to serve as an advisor to feudal lord Tokugawa Mitsukuni.
</h1>