<h1>A Brief, Visual Look at the Origins of Japanese Ramen</h1>
<div class="circle"></div>


<div class="scroll-indicator hide-mobile pulsate" >
  <img src="img/mouse_scroll_small-grey.png" alt="">
  <p>
    or
  </p>
  <img src="img/up-down-arrow-keys-grey.png" alt="">
  <p>to continue</p>
</div>

<div class="scroll-indicator show-mobile pulsate">
  <img src="img/scroll-right-arrow.png" alt="">
  <p>
    swipe right to continue
  </p>
</div>