<svg id="slide-14-svg" xmlns="http://www.w3.org/2000/svg" width="932.33" height="343.61" viewBox="0 0 932.33 343.61">
  <title>slide-14</title>
  <text transform="translate(-21.13 232.42)" font-size="264.11" fill="#bc002d" font-family="KozGoPr6N-Heavy-90ms-RKSJ-H, Kozuka Gothic Pr6N" letter-spacing="-0.09em">ラ<tspan x="240.34" y="0" letter-spacing="-0.1em">ー</tspan><tspan x="478.05" y="0" letter-spacing="-0.15em">メ</tspan><tspan x="702.55" y="0" letter-spacing="-0.05em">ン</tspan></text>
</svg>
