<svg id="slide-09-svg" xmlns="http://www.w3.org/2000/svg" width="946.09" height="942.58" viewBox="0 0 946.09 942.58">
  <title>slide-09</title>
  <g id="store">
    <rect id="store-frame" x="147.7" y="263.5" width="650.4" height="650.4" fill="none" stroke="#bc002d" stroke-miterlimit="10" stroke-width="57.38"/>
    <rect id="store-window" x="256.66" y="517.19" width="143.02" height="143.02" fill="none" stroke="#bc002d" stroke-miterlimit="10" stroke-width="28.69"/>
    <rect id="store-door" x="507.32" y="558.64" width="199.09" height="355.26" fill="none" stroke="#bc002d" stroke-miterlimit="10" stroke-width="53.35"/>
    <polygon id="store-roof" points="111.7 259.5 834.1 263.5 472.9 37.5 111.7 259.5" fill="none" stroke="#bc002d" stroke-miterlimit="10" stroke-width="63.73"/>
  </g>
</svg>