<svg id="slide-11-svg" xmlns="http://www.w3.org/2000/svg" width="715.19" height="953.69" viewbox="0 0 715.19 953.69">
  <title>slide-11</title>
  <rect class="st2" id="skyscraper-big" x="20.84" y="20.84" width="431" height="912" fill="none" stroke="#bc002d" stroke-miterlimit="10" stroke-width="41.69"/>
  <rect class="st2" id="skyscraper-small" x="451.84" y="274.84" width="242.5" height="658" fill="none" stroke="#bc002d" stroke-miterlimit="10" stroke-width="41.69"/>
  <g class="st1" id="skyscraper-small-windows">
    <rect  x="516.59" y="384.1" width="102" height="30" fill="none" stroke="#bc002d" stroke-miterlimit="10" stroke-width="10"/>
    <rect  x="516.59" y="520.6" width="102" height="30" fill="none" stroke="#bc002d" stroke-miterlimit="10" stroke-width="10"/>
    <rect  x="516.59" y="657.09" width="102" height="30" fill="none" stroke="#bc002d" stroke-miterlimit="10" stroke-width="10"/>
    <rect  x="516.59" y="793.58" width="102" height="30" fill="none" stroke="#bc002d" stroke-miterlimit="10" stroke-width="10"/>
  </g>
  <g class="st1" id="skyscraper-big-windows">
    <rect  x="117.7" y="131.61" width="239.9" height="70.5" fill="none" stroke="#bc002d" stroke-miterlimit="10" stroke-width="10"/>
    <rect  x="117.7" y="338.27" width="239.9" height="70.5" fill="none" stroke="#bc002d" stroke-miterlimit="10" stroke-width="10"/>
    <rect  x="117.7" y="544.92" width="239.9" height="70.5" fill="none" stroke="#bc002d" stroke-miterlimit="10" stroke-width="10"/>
    <rect  x="116.39" y="751.58" width="239.9" height="70.5" fill="none" stroke="#bc002d" stroke-miterlimit="10" stroke-width="10"/>
  </g>
</svg>