<div class="modal-container-kitakata" id="modal_kitakata">
  <div class="modal-kitakata">
    <h1>kitakata Ramen</h1>  
    <p>
      Tokyo, Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos totam laborum quisquam quo dolorum.
    </p> 
    <button id="close_kitakata">
      Go Back
    </button>
  </div>
</div>