<div class="modal-container-kitakata" id="modal_kitakata">
  <div class="modal-kitakata">
    <h1>Kitakata Ramen</h1>  
    <p>
     Kitakata ramen is known for its rather thick, flat, curly noodles served in a pork-and-niboshi broth. The ramen itself has a soy sauce base, and is usually topped with green onions, fish cake, char siu and bamboo shoots.
    </p>
    <img src="img/ramen/kitakatara-ramen.jpg" alt="kitakata ramen">
    <br>
    <button id="close_kitakata">
      Go Back
    </button>
  </div>
</div>