<div class="modal-container-tokyo" id="modal_tokyo">
  <div class="modal-tokyo">
    <h1>Tokyo-Style Ramen</h1>  
    <p>
      Tokyo, Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos totam laborum quisquam quo dolorum.
    </p> 
    <button id="close_tokyo">
      Go Back
    </button>
  </div>
</div>