<div class="modal-container-original" id="modal_sapporo">
  <div class="modal-original">
  
      <h1>Sapporo Miso Ramen</h1>  
  
    
  
      <p>
        Sapporo, the capital of Hokkaido, is especially famous for its miso ramen. Sapporo miso ramen is typically topped with sweetcorn, butter, bean sprouts, finely chopped pork, and garlic, and sometimes local seafood such as scallop, squid, and crab.
      </p> 


    <button id="close">
      Go Back
    </button>
  </div>
</div>