<div class="modal-container-hakata" id="modal_hakata">
  <div class="modal-hakata">
    <h1>hakata Ramen</h1>  
    <p>
      Tokyo-style ramen consists of slightly thin, curly noodles served in a soy-flavored chicken broth. Standard toppings are chopped scallion, menma, sliced pork, kamaboko, egg, nori, and spinach.
    </p> 
    <button id="close_hakata">
      Go Back
    </button>
  </div>
</div>