<div class="modal-container-tokyo" id="modal_tokyo">
  <div class="modal-tokyo">
    <h1>Tokyo-Style Ramen</h1>  
    <p>
      Tokyo-style ramen consists of slightly thin, curly noodles served in a soy-flavored chicken broth. Standard toppings are chopped scallion, menma, sliced pork, kamaboko, egg, nori, and spinach.
    </p>
    <img src="img/ramen/tokyo-ramen.jpg" alt="tokyo ramen">
    <br>
    <button id="close_tokyo">
      Go Back
    </button>
  </div>
</div>