<div class="modal-container-hakata" id="modal_hakata">
  <div class="modal-hakata">
    <h1>hakata Ramen</h1>  
    <p>
      Tokyo, Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos totam laborum quisquam quo dolorum.
    </p> 
    <button id="close_hakata">
      Go Back
    </button>
  </div>
</div>