<div class="modal-container-hakata" id="modal_hakata">
  <div class="modal-hakata">
    <h1>Hakata Ramen</h1>  
    <p>
      Hakata ramen has a rich, milky, pork-bone tonkotsu broth and rather thin, non-curly and resilient noodles. Often, distinctive toppings such as crushed garlic, beni shōga (pickled ginger), sesame seeds, and spicy pickled mustard greens (karashi takana) are left on tables for customers to serve themselves.
    </p> 
    <img src="img/ramen/hakata-ramen.jpg" alt="hakata ramen">
    <br>
    <button id="close_hakata">
      Go Back
    </button>
  </div>
</div>