<div class="btn-container">
  <button id="sapporo-btn" class="site-btn">Sapporo Ramen</button>
  <button id="kitakata-btn" class="site-btn">Kitakata Ramen</button>
  <button id="tokyo-btn" class="tokyo-btn">Tokyo Ramen</button>
  <button id="hakata-btn" class="site-btn">Hakata Ramen</button>
</div>