// .japan-island-svg {
//   transform-origin: center center;
// }

// .circle-city {
//   // box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
// 	transform: scale(1);
//   animation: pulse 1.5s infinite;
//   animation-direction: alternate;
//   transform-origin: center center;
// }

 circle:hover {
  // animation-play-state: paused;
  // transform: scale(1.1);
  // transform-origin: center center;
  r: 15;
}

g#sapporo-title:hover {
  // color: blue;
  fill: blue;
  border-bottom: 3px solid red;
  // transform: scale(1.1);
}

@keyframes pulse {
	0% {
    transform: scale(0.95);

    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    transform-origin: center center;
	}

	100% {
    transform: scale(1.05);

    // box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    transform-origin: center center;
	}
}

.pulsate {
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.5;
}
@-webkit-keyframes pulsate {
  0% { 
      opacity: 0.5;
  }
  50% { 
      opacity: 1.0;
  }
  100% { 
      opacity: 0.5;
  }
}


