.japan-island-svg {
  transform-origin: center center;
}

.circle-city {
  // box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
  animation: pulse 1.5s infinite;
  animation-direction: alternate;
  transform-origin: center center;
}

.circle-city:hover {
  animation-play-state: paused;
}

@keyframes pulse {
	0% {
    transform: scale(0.95);

    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    transform-origin: center center;
	}

	100% {
    transform: scale(1.05);

    // box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    transform-origin: center center;
	}
}

svg g:hover {
  // transform: scale(1.2);
  fill: blue;
  transition: all 0.3s ease 0s;
}
