@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@900&display=swap');

$jpn-red: #BC002D;
$grey: #979797;

// mixins 
@mixin svg-size-desktop {
  margin-top: 3.75rem;
  width: 25rem;
  height: 25rem;
}

@mixin svg-size-mobile {
  margin-top: 3.75rem;
  width: 2rem;
  height: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  color: $jpn-red;
  box-sizing: border-box;
}

.slide {
  width: 100vw;
  height: 100vh;
  background: #fff;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 1500vw;
  /* need to make sure that the value of width is equal to total width of the content divs */
  
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.page-num {
  text-align: center;
  color: 	#C0C0C0;
  position: fixed;
  bottom: 0px;
  margin-bottom: 3rem;
  font-size: 3rem;
}

.main-page-num {
  color: $jpn-red;
  font-size: 4.5rem;
}

.one {
  background: #fff;
  z-index: 10;
}

.one h1 {
  z-index: 3;
  color: #fff;
  width: 45rem;
  font-size: 3.75rem;
  text-align: center;
}


.one img {
  width: 56px;
  height: 56px;
}

.scroll-indicator {
  display: flex;
  position: fixed;
  bottom: 0px;
  margin-bottom: 2rem;
  align-items: center;
  color: $grey;
  font-size: 2rem;
}

.scroll-indicator img {
  margin: 0 1rem;
}

h1, h2 {
  color: $jpn-red;
  width: 75rem;
  font-size: 4rem;
  text-align: left;
}

.circle {
  background: $jpn-red;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 1;
}

.two {
  // background: #fff;
}

.slide-02-svg {
  // width: 55vw;
  // height: 55vh;
  width: 40rem;
  height: 40rem;
}

.three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.align-title {
  text-align: center;
}

.final {
  background: $jpn-red;
}
.final h1{
  color: #fff;
  text-align: center;
}

.final h2 {
  color: #fff;
  text-align: center;
  max-width: 25rem;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;

  /* hiding the scrollbar */
  /* for firefox */
  scrollbar-width: none;
  /* Internet Explorer Family */
  -ms-overflow-style: none;
}

/* for chrome & safari */
::-webkit-scrollbar {
  display: none;
}

// center stuff to page
.center-stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1.theory-title {
  font-family: 'Rokkitt', serif;
  font-size: 8rem;
  width: 90rem;
  line-height: 1.5;
}