// modal styling for Sapporo
button {
  background-color: $jpn-red;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 1rem 2.5rem;
  margin-top: 2rem;
  font-size: 1.4rem;
}

.modal-container-original {
  position: fixed;
  top: 0;
  left: 1300vw;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-container-original.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-original {
  background-color: #fff;
  color: #333;
  padding: 3rem 5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 60rem;
  max-width: 100%;
  text-align: center;

  @media only screen and (max-width: 520px) {
    padding: 3rem;
  }
}

.modal-original h1 {
  font-size: 2.6rem;
  color: #333;
  width: 40rem;

  @media only screen and (max-width: 520px) {
    font-size: 2.1rem;
  }
}

.modal-original p {
  opacity: 0.7;
  text-align: left;
  font-size: 1.6rem; 
  padding: .5rem 0;

  @media only screen and (max-width: 520px) {
    font-size: 1.4rem;
  }
}

// modal styling for Tokyo
.modal-container-tokyo {
  position: fixed;
  top: 0;
  left: 1300vw;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-container-tokyo.show-tokyo {
  opacity: 1;
  pointer-events: auto;
}

.modal-tokyo {
  background-color: #fff;
  color: #333;
  padding: 3rem 5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 60rem;
  max-width: 100%;
  text-align: center;
}

.modal-tokyo h1 {
  color: #333;
  font-size: 2.6rem;
  
  @media only screen and (max-width: 520px) {
    font-size: 2.1rem;
  }
}

.modal-tokyo p {
  opacity: 0.7;
  text-align: left;
  font-size: 1.6rem; 
  padding: .5rem 0;

  @media only screen and (max-width: 520px) {
    font-size: 1.4rem;
  }
}

// modal styling for Kitakata

.modal-container-kitakata {
  position: fixed;
  top: 0;
  left: 1300vw;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-container-kitakata.show-kitakata {
  opacity: 1;
  pointer-events: auto;
}

.modal-kitakata {
  background-color: #fff;
  color: #333;
  padding: 3rem 5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 60rem;
  max-width: 100%;
  text-align: center;
}

.modal-kitakata h1 {
  color: #333;
  font-size: 2.6rem;
  
  @media only screen and (max-width: 520px) {
    font-size: 2.1rem;
  }
}

.modal-kitakata p {
  opacity: 0.7;
  text-align: left;
  font-size: 1.6rem;
  padding: .5rem 0;

  @media only screen and (max-width: 520px) {
    font-size: 1.4rem;
  }
}

// modal styling for Hakata

.modal-container-hakata {
  position: fixed;
  top: 0;
  left: 1300vw;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-container-hakata.show-hakata {
  opacity: 1;
  pointer-events: auto;
}

.modal-hakata {
  background-color: #fff;
  color: #333;
  padding: 3rem 5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 60rem;
  max-width: 100%;
  text-align: center;
}

.modal-hakata h1 {
  color: #333;
  font-size: 2.6rem;
  
  @media only screen and (max-width: 520px) {
    font-size: 2.1rem;
  }
}

.modal-hakata p {
  opacity: 0.7;
  text-align: left;
  font-size: 1.6rem;
  padding: .5rem 0;

  @media only screen and (max-width: 520px) {
    font-size: 1.4rem;
  }
}