@media only screen and (max-width: 520px) {
  .one h1 {
    z-index: 3;
    color: #fff;
    width: 200px;
    font-size: 1.7em;
    text-align: center;
  }
  
  .circle {
    // background:#BC002D;
    border-radius: 50%;
    width: 275px;
    height: 275px;
    position: absolute;
    z-index: 1;
  }

  h1 {
    font-size: 1em;
    width: 200px;
  }

  .slide-02-svg {
    width: 260px;
    height: 210px;
  }

  .show-mobile {
    display: flex;
    font-size: 1.3em;
  }

  .show-mobile img {
    height: 44px;
    width: 44px;
  }

  .show-mobile p {
    margin: 0;
  }

  .hide-mobile {
    display: none;
  }

  .theory-title {
    font-size: 1.9em;
    width: 290px;
  }

  .three svg {
    width: 280px;
  }
  .modal-original img {
    width: 225px; 
    height: 150px;
  }

  .modal-kitakata img {
    width: 225px; 
    height: 150px;
  }
  .modal-tokyo img {
    width: 225px; 
    height: 150px;
  }
  .modal-hakata img {
    width: 225px; 
    height: 150px;
  }
  .five svg {
    // width: 175px;
    height: 225px;
  }
}

@media only screen and (min-width: 521px) {
  h1 {
    font-size: 1.4em;
    width: 400px;
  }

  .slide-two-svg {
    width: 250px;
    height: 200px;
  }

  .show-mobile {
    display: flex;
  }
  .hide-mobile {
    display: none;
  }
  .theory-title {
    font-size: 3.8em;
    width: 500px;
  }

  .three svg {
    width: 500px;
  }
  .modal-original img {
    width: 320px; 
    height: 213px;
  }
  .modal-kitakata img {
    width: 320px; 
    height: 213px;
  }
  .modal-tokyo img {
    width: 320px; 
    height: 213px;
  }
  .modal-hakata img {
    width: 320px; 
    height: 213px;
  }
  .five svg {
    // width: 500px;
    height: 450px;
  }
}

@media only screen and (min-width: 900px) {
  h1 {
    color: #BC002D;
    width: 750px;
    font-size: 2.2em;
    text-align: left;
  }

  .two svg {
    width: 100%;
  }

  .theory-title {
    font-size: 5.8em;
    width: 900px;
  }

  .three svg {
    width: 900px;
  }
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: flex;
  }
}



// @media only screen and (max-width: 1030px) {
//   h1 {
//     font-size: 1.7em;
//     width: 500px;
//   }
// }